body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto;
}

/* Mike Mignola style for images */
.mignola-style {
  filter: contrast(2.0) saturate(2.5) brightness(0.7) sepia(0.3); /* Enhanced for vibrant colors and deep contrast */
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.7); /* Deep contrast shadow */
  border: 2px solid black;
}
